@import url('https://fonts.googleapis.com/css?family=Cinzel+Decorative');




.reflect2 {
    /* font-size: 4rem; */
    font-family: 'Cinzel Decorative';
    letter-spacing: 1px;
    background: linear-gradient(cyan, orange, cyan);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    /* transform: rotateX(180deg); */
    margin-top: 15px;
    font-weight: bold;
    /* opacity: 90%; */
}





.signt {
    font-family: 'Cinzel Decorative';
}