/* .hl {
background-image: linear-gradient(135deg, #8284e499, #80808099);
line-height: 2;
letter-spacing: 1;
font-size: 1.3rem;
  background-repeat: no-repeat;
  background-position: left bottom;
  background-size: 0% 100%;
  padding: 0 2px;
} */
.hl {
  background-image: linear-gradient(
    to top,
    #c4d73199 0%,
    #8284e440 50%,
    transparent 100%
  );

  background-repeat: no-repeat;
  background-position: left bottom;
  background-size: 0% 100%;
margin: 0 2px;
  /* padding: 0 4px; */
}

/* .art-hl {
  background-image: linear-gradient(
    135deg,
    rgba(228, 160, 91, 0.45),
    rgba(163, 88, 7, 0.45)
  );
  line-height: 2;
  letter-spacing: 1px;
  font-size: 1.1rem;

  background-repeat: no-repeat;
  background-position: left bottom;
  background-size: 0% 100%;
  padding: 0 2px;
} */

