@import url('https://fonts.googleapis.com/css?family=Cinzel+Decorative');


.card-text {
    font-family: 'Cinzel Decorative';
}




.cards-container {
    padding: 0;
    margin: 0;
    min-height: 100vh;
    display: grid;
    place-items: center;
    background: linear-gradient(90deg, black 50%, white 50%);
    box-sizing: border-box;
}

.parent {
    position: relative;
    height: 100%;
    aspect-ratio: 1;
    display: grid;
    place-items: center;
    grid-template-rows: repeat(1, 250px);

    .sq {
        aspect-ratio: 1;
        transform: rotate(45deg);
        background-image: conic-gradient(from -45deg, #fff, #000);
        transform: rotate(45deg);

        @for $i from 1 through 5 {
            &:nth-of-type(#{$i}) {
                width: (250px - ($i - 1) * 50px);
                z-index: $i * -5;
            }
        }
    }
}