// .has-magnifier {
//   cursor: none;
// }

.magnifier {
  position: fixed;
  top: 0;
  left: 0;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  pointer-events: none;
  z-index: 9999;

  transform: translate(-50%, -50%) scale(1);
  transition: transform 0.2s ease;

  background: radial-gradient(
    circle,
    rgba(255, 255, 255, 0.2),
    rgba(255, 255, 255, 0.08) 55%,
    transparent 70%
  );

  border: 2px solid rgba(255, 255, 255, 0.5);
  backdrop-filter: saturate(1);
}

/* Hover activation = magnification */
.magnifier.active {
  // backdrop-filter: saturate(1.6) blur(1px);
  // transform: translate(-50%, -50%) scale(1.05);
}

