@import url('https://fonts.googleapis.com/css?family=Cinzel+Decorative');

.text-wo {
    font-family: 'Cinzel Decorative';
    /* color: black; */
    /* font-size: 15rem !important; */
    /* letter-spacing: 5px; */
    /* color: white; */
    /* margin: 0px; */
    /* padding: 1rem 2rem; */

}

/* .exp-work {
    color: black;
} */


/* .chip {
    border: 1px solid white;
    padding: 1%;
    background-color: slategray;
} */